black
catboost
flake8
isort
lightgbm
mypy
numpy
pandas
polars
pytest-cov
scikit-learn
seaborn
ipython
ipykernel
torch
transformers
timm
optuna
pytorch_lightning
opencv-python
hydra-core
albumentations
types-requests

streamlit
faiss-cpu
fugashi
unidic_lite

surprise
